* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-1,
.section-5 {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 15% 30px 15%;
    padding: 20px 0px;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
}

.menu a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    display: block;
    padding: 0px 0px 0px 25px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    margin: 0px 15%;
    padding: 50px 0px 100px 0px;
}

.hero-content {
    padding-right: 100px;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px 0px;
}

button {
    background-color: #3882f6;
    border-radius: 4px;
    text-align: center;
    padding: 5px 25px;
}

.hero-container button {
    border: none;
    color: white;
}

.section-2-heading {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 30px 15%;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 30px 15%;
}

.card {
    width: 156px;
    margin: 20px;
}

.card-image-top img {
    border: #3882f6 solid 3px;
    border-radius: 10px;
    margin: 0px;
}

.card-body {
    text-align: center;
}

.section-3 {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    justify-content: center;
    padding: 100px 15%;
}

.quote-container blockquote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-container blockquote footer {
    display: flex;
    justify-content: right;
    font-weight: bold;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 10px;
    margin: 100px 15%;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 50px;

}

.cta-header {
    font-weight: bold;
    color: white;
}

.cta-body {
    font-weight: lighter;
    color: white;
}

.call-to-action-button {
    margin: 50px;
}

.call-to-action-button button {
    border: 2px solid #ffffff;
    color: white;
}

.footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 50px;
}